<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Playlist Downloader</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">YouTube Playlist Downloader</h1>
        <form action="/download-playlist" method="get" class="mt-3">
            <div class="form-group">
                <label for="url">Enter YouTube Playlist URL:</label>
                <input type="text" id="url" name="url" class="form-control" placeholder="https://youtube.com/playlist?list=YOUR_PLAYLIST_ID" required>
            </div>
            <button type="submit" class="btn btn-primary">Download Playlist</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
